<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:3px 4px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:3px 4px;word-break:normal;}
  .tg .tg-h6pa{background-color:#c0c0c0;border-color:inherit;font-family:"Arial Black", Gadget, sans-serif !important;font-size:12px;
    text-align:center;vertical-align:top}
  .tg .tg-9axs{background-color:#000000;border-color:inherit;color:#ffffff;font-size:20px;text-align:center;vertical-align:top}
  .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-9d6i{border-color:inherit;font-family:"Arial Black", Gadget, sans-serif !important;font-size:12px;text-align:left;
    vertical-align:top}
  .tg .tg-eks9{border-color:inherit;font-family:"Arial Black", Gadget, sans-serif !important;font-size:xx-large;text-align:center;
    vertical-align:top}
  .tg .tg-qllg{border-color:inherit;font-family:"Arial Black", Gadget, sans-serif !important;font-size:12px;text-align:center;
    vertical-align:top}
  .tg .tg-vrsu{background-color:#9b9b9b;border-color:inherit;font-family:"Arial Black", Gadget, sans-serif !important;font-size:12px;
    text-align:center;vertical-align:top}
  .tg .tg-gw5g{background-color:#000000;border-color:inherit;color:#ffffff;font-family:"Arial Black", Gadget, sans-serif !important;
    font-size:12px;font-weight:bold;text-align:center;vertical-align:top}
  </style>
  <table class="tg" style="undefined;table-layout: fixed; width: 1049px">
  <colgroup>
  <col style="width: 86px">
  <col style="width: 222px">
  <col style="width: 116px">
  <col style="width: 106px">
  <col style="width: 93px">
  <col style="width: 91px">
  <col style="width: 74px">
  <col style="width: 69px">
  <col style="width: 40px">
  <col style="width: 113px">
  <col style="width: 39px">
  </colgroup>
  <thead>
    <tr>
      <th class="tg-eks9" colspan="11"><span style="font-weight:bold;text-decoration:underline">Aggarwal Packers And Movers LTD.</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-9axs" colspan="11"><span style="font-weight:bold;font-style:normal">HHG</span></td>
    </tr>
    <tr>
      <td class="tg-qllg" colspan="7">GSTIN: 27AAFCA3559A1ZZ&nbsp;&nbsp;&nbsp;(MAHARASHTRA)</td>
      <td class="tg-qllg" colspan="4"><span style="font-weight:400;font-style:normal">S.No.: ____________________</span></td>
    </tr>
    <tr>
      <td class="tg-qllg" colspan="3">SCHDULE FOR DEMURRAGE CHARGES&nbsp;&nbsp;Demurrage will be charges immediatelyafter 01 day from&nbsp;&nbsp;the date of arrival @ ₹ 5/- per day per Pkg. or Qty on charged&nbsp;&nbsp;weight whichever will be higher.</td>
      <td class="tg-qllg" colspan="4">GOODS CONSIGNMENT NOTE<br><br><br>  Non-Negotiable     IBA code : MUA-1783</td>
      <td class="tg-9d6i" colspan="4">PAN NO.: AAFCA3559 <br> A Booked under as per carriage by Road Act 2007<br>Valid From: 22/03/2016 Valid upto: 21/03/2026<br><input type="checkbox">
        Section 10 (Limited Liability) <br><input type="checkbox">
        Section 11 (Insured Risk)</td>
    </tr>
    <tr>
      <td class="tg-qllg" colspan="3">NOTICE&nbsp;&nbsp;The Consignment Covered with this set of lorry reciept is non-negotiable&nbsp;&nbsp;and under no circumstanses the transport operator will have any liability for any transaction&nbsp;&nbsp;between the consigner</td>
      <td class="tg-9d6i" colspan="3"><span style="font-weight:400;font-style:normal">Address of Booking Office: Insert Address here br test test test</span></td>
      <td class="tg-9d6i" colspan="5"><span style="font-weight:400;font-style:normal">Address of Delivery Office: Insert data of the Delivery Office here </span></td>
    </tr>
    <tr>
      <td class="tg-9d6i" colspan="3">CONSIGNOR'S NAME &amp; ADDRESS: <br><br><br><br> Phone:                  GST No. (If):                       Or Unregistered</td>
      <td class="tg-9d6i" colspan="8">CONSIGNMENT NOTE (Goods Reciept) <br>No: 000000000000  <br> Date:   00/00/0000                      <br>Time: 00.00.00</td>
    </tr>
    <tr>
      <td class="tg-9d6i" colspan="3">CONSIGNEE'S NAME &amp; ADDRESS:  <br><br><br><br>Phone:                  GST No. (If):                       Or Unregistered</td>
      <td class="tg-qllg" colspan="4">From City</td>
      <td class="tg-qllg" colspan="4">To City</td>
    </tr>
    <tr>
      <td class="tg-h6pa" colspan="3">Said To Contain</td>
      <td class="tg-qllg" colspan="4"><input type="checkbox">
        Godown Delivery   <input type="checkbox">
        Door Delivery</td>
      <td class="tg-qllg" colspan="4">UNLOADING: <input type="checkbox">
        By Party <input type="checkbox">
        By Center</td>
    </tr>
    <tr>
      <td class="tg-qllg">Nos.</td>
      <td class="tg-qllg">Method of Pkg</td>
      <td class="tg-qllg">Description</td>
      <td class="tg-qllg" colspan="8">DELIVERY INCHARGE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile:</td>
    </tr>
    <tr>
      <td class="tg-qllg"></td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg">Used Houshold-Goods&nbsp;&nbsp;for Personal Use</td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg"></td>
      <td class="tg-vrsu" colspan="2">Packing Material Used</td>
      <td class="tg-vrsu">Qty</td>
      <td class="tg-vrsu">Packing Material Used</td>
      <td class="tg-vrsu">Qty</td>
    </tr>
    <tr>
      <td class="tg-qllg">Actual Weight (Kgs)</td>
      <td class="tg-qllg">Charged Weight (kgs)</td>
      <td class="tg-qllg">Rate</td>
      <td class="tg-qllg">Km</td>
      <td class="tg-vrsu" rowspan="2">*SAC-996511</td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg" colspan="2">Fabric Sheet</td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg">Carton Box</td>
      <td class="tg-qllg"></td>
    </tr>
    <tr>
      <td class="tg-qllg"></td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg" colspan="2">Perfect Box</td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg">Corrugated Roll</td>
      <td class="tg-qllg"></td>
    </tr>
    <tr>
      <td class="tg-qllg" rowspan="3">Total Pkgs</td>
      <td class="tg-qllg" colspan="4">Dimentions of Consignment (feet)</td>
      <td class="tg-qllg" rowspan="3">Value of Goods ( As Per Seclaration By Consigner)</td>
      <td class="tg-qllg" colspan="2">LED BOX</td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg">Corners</td>
      <td class="tg-qllg"></td>
    </tr>
    <tr>
      <td class="tg-qllg" rowspan="2">length</td>
      <td class="tg-qllg" rowspan="2">Breath</td>
      <td class="tg-qllg" rowspan="2">Height</td>
      <td class="tg-qllg" rowspan="2">Total CFT</td>
      <td class="tg-qllg" colspan="2">Bad Cover</td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg">Matterss Cover</td>
      <td class="tg-qllg"></td>
    </tr>
    <tr>
      <td class="tg-qllg" colspan="2">W/M Cover</td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg">Sofa (Single)</td>
      <td class="tg-qllg"></td>
    </tr>
    <tr>
      <td class="tg-9d6i" colspan="2">Vehicle No.</td>
      <td class="tg-qllg" colspan="4">In Case of TBD</td>
      <td class="tg-qllg" colspan="2">Fridge Cover</td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg">Sofa (Three)</td>
      <td class="tg-qllg"></td>
    </tr>
    <tr>
      <td class="tg-9d6i" colspan="2">Cube No.</td>
      <td class="tg-9d6i" colspan="4">To billing Party:</td>
      <td class="tg-qllg" colspan="2">Two Wheeler Cover</td>
      <td class="tg-qllg"></td>
      <td class="tg-qllg">Almirah Cover</td>
      <td class="tg-qllg"></td>
    </tr>
    <tr>
      <td class="tg-9d6i" colspan="2">Seal No.</td>
      <td class="tg-9d6i" colspan="4">Address:</td>
      <td class="tg-gw5g" colspan="5">FREIGHT DETAILS</td>
    </tr>
    <tr>
      <td class="tg-9d6i" colspan="3" rowspan="3">I Have Read,Understood &amp; accept all the terms and conditions mentioned herein on this consignment note, infront &amp; overleaf for this carrige,<br><br><span style="font-weight:400;font-style:normal">Consigner signature</span><br></td>
      <td class="tg-qllg" colspan="3" rowspan="3">Note:</td>
      <td class="tg-qllg" colspan="3"><span style="font-weight:400;font-style:normal">Gross Frieght(INR)</span></td>
      <td class="tg-qllg" colspan="2">99999</td>
    </tr>
    <tr>
      <td class="tg-qllg" colspan="3"><span style="font-weight:400;font-style:normal">*CGST @6%</span></td>
      <td class="tg-qllg" colspan="2">99999</td>
    </tr>
    <tr>
      <td class="tg-qllg" colspan="3"><span style="font-weight:400;font-style:normal">*SGST @6%</span></td>
      <td class="tg-qllg" colspan="2">99999</td>
    </tr>
    <tr>
      <td class="tg-qllg" colspan="6" rowspan="4"></td>
      <td class="tg-qllg" colspan="3"><span style="font-weight:400;font-style:normal">OR *IGST @ 12%</span></td>
      <td class="tg-qllg" colspan="2">99999</td>
    </tr>
    <tr>
      <td class="tg-qllg" colspan="3"><span style="font-weight:400;font-style:normal">Total Amount</span></td>
      <td class="tg-qllg" colspan="2">9999999</td>
    </tr>
    <tr>
      <td class="tg-gw5g" colspan="5">IF TO PAY THEN PAY BEFORE DELIVERY</td>
    </tr>
    <tr>
      <td class="tg-qllg" colspan="3">GFN No. 73647373 </td>
      <td class="tg-qllg" colspan="2"><span style="font-weight:400;font-style:normal">DATE:03/04/2022</span></td>
    </tr>
    <tr>
      <td class="tg-c3ow" colspan="6" rowspan="2"></td>
      <td class="tg-c3ow" colspan="5" rowspan="2">For Agarwal Packers and Movers Ltd.<br><br>Authorized Signatory</td>
    </tr>
    <tr>
    </tr>
  </tbody>
  </table>